<div class="form-group" style="margin-top:80px;" >
  <table class="table" ng-if="list.foundItems1.length>0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Short Name</th>
        <th>Description</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody  ng-repeat="item in list.foundItems1">

      <tr>
        <td>{{ item.name}}</td>
        <td>{{ item.short_name}}</td>
        <td>{{ item.description}}</td>
        <td><button class="btn btn-primary" ng-click="list.onRemove({index: $index});"> Don't want this one!</button></td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-info" role="alert" ng-show="list.foundItems1.length===0">Nothing found</div>
</div>
